{% extends "base.html" %}

{% block content %}

    <form action='/car/add' method='POST'>
        <div class="margin-10 card bg-light mb-3" style="max-width: 36rem;">
            <div class="card-header">Добавление машину</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="car_name">Наименование автомобиля</label>
                    <input class="form-control" type="text" name="car_name" id="car_name" aria-describedby="car_name_help">
                    <small id="car_name_help" class="form-text text-muted">Введите марку автомобиля</small>
                </div>    
                <div class="form-group">
                    <label for="car_price">Цена автомобиля</label>
                    <input class="form-control" type="text" name="car_price" id="car_price"  aria-describedby="car_price_help">
                    <small id="car_price_help" class="form-text text-muted">Введите цену</small>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="/" class="btn btn-danger">Отмена</a>
            </div>
        </div>
    </form>
    
{% endblock %} 