{% extends "base.html" %}

{% block content %}

    <form action='/person/add' method='POST'>
        <div class="margin-10 card bg-light mb-3" style="max-width: 36rem;">
            <div class="card-header">Добавление человека</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="person_name">ФИО человека</label>
                    <input class="form-control" type="text" name="person_name" id="person_name" aria-describedby="person_name_help">
                    <small id="person_name_help" class="form-text text-muted">Введите ФИО человека</small>
                </div>    
                <div class="form-group">
                    <label for="person_balance">Начальный баланс</label>
                    <input class="form-control" type="text" name="person_balance" id="person_balance"  aria-describedby="person_balance_help">
                    <small id="person_balance_help" class="form-text text-muted">Введите баланс</small>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="/" class="btn btn-danger">Отмена</a>
            </div>
        </div>
    </form>
    
{% endblock %} 
