{% extends "base.html" %}

{% block content %}

    <form action='/person/{{ person.id }}/addcar' method='POST'>
        <div class="margin-10 card bg-light mb-3" style="max-width: 36rem;">
            <div class="card-header">Добавление автомобиля человеку "{{ person.name }}"</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="car_id">ID авто</label>
                    <input class="form-control" type="text" name="car_id" id="car_id" aria-describedby="car_id_help">
                    <small id="car_id_help" class="form-text text-muted">Введите id автомобиля</small>
                </div>    
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="/person/{{person.id}}" class="btn btn-danger">Отмена</a>
            </div>
        </div>
    </form>

{% endblock %}