{% extends "base.html" %}

{% block content %}

    <form action='/market/add' method='POST'>
        <div class="margin-10 card bg-light mb-3" style="max-width: 36rem;">
            <div class="card-header">Добавление автомаркета</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="market_name">Наименование маркета</label>
                    <input class="form-control" type="text" name="market_name" id="market_name" aria-describedby="market_name_help">
                    <small id="market_name_help" class="form-text text-muted">Введите название автомаркета</small>
                </div>    
                <div class="form-group">
                    <label for="market_balance">Начальный баланс</label>
                    <input class="form-control" type="text" name="market_balance" id="market_balance"  aria-describedby="market_balance_help">
                    <small id="market_balance_help" class="form-text text-muted">Введите баланс</small>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="/" class="btn btn-danger">Отмена</a>
            </div>
        </div>
    </form>
    
{% endblock %} 
