{% extends "base.html" %}
{% block content %}

  <h3>Автомобиль</h3> <br>
  <a href="/">На главную</a><br><br>
  <strong>Наименование: {{ car.name }}</strong><br>
  <strong>Цена: {{ car.price }}</strong><br>
  
{% endblock %}