{% extends "base.html" %}

{% block content %}

    <form action='/market/{{ market.id }}/edit' method='POST'>
        <div class="margin-10 card bg-light mb-3" style="max-width: 36rem;">
            <div class="card-header">Редактирование автомаркета "{{ market.name }}"</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="market_name">Наименование маркета</label>
                    <input class="form-control" type="text" name="market_name" id="market_name" aria-describedby="market_name_help" value="{{ market.name }}">
                    <small id="market_name_help" class="form-text text-muted">Введите название автомаркета</small>
                </div>    
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="/market/{{market.id}}" class="btn btn-danger">Отмена</a>
            </div>
        </div>
    </form>

{% endblock %}
