{% extends "base.html" %}

{% block content %}
<section style="margin-left: 10px">
    {% if markets %}
    <div class="card" style="width: 18rem; margin-left: 10px;">
        <div class="card-header">
          Автомаркеты
        </div>
        <ul class="list-group list-group-flush">
          {% for market in markets %}
            <li class="list-group-item"><a href="/market/{{ market.id }}">{{ market.name }}</a></li>
          {% endfor %}
        </ul>
    </div>

    {% else %}
        <i>Нет автомаркетов :-(</i><br />
    {% endif %}
    {% if persons %}
    <div class="card" style="width: 18rem; margin-left: 10px;">
        <div class="card-header">
          Люди
        </div>
        <ul class="list-group list-group-flush">
          {% for person in persons %}
            <li class="list-group-item"><a href="/person/{{ person.id }}">{{ person.name }}</a></li>
          {% endfor %}
        </ul>
    </div>
    {% else %}
        <i>Нет человеков :-(</i><br />
    {% endif %}
</section>
{% endblock %}        