{% extends "base.html" %}

{% block content %}
        {% if market %}
        <div class="card" style="width: 18rem; margin-left: 10px;">
                <div class="card-header">
                  {{market.name}}
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Баланс: {{market.balance}}</li>
                  <li class="list-group-item">
                    Машины: <br>
                    {% for car in market.cars %}
                       <a href="/car/{{ car.id }}">{{ car.name }}</a><br>
                    {% endfor %}
                  </li>
                  <li class="list-group-item">
                      <a href='/market/{{market.id}}/addcar' style="margin-bottom: 10px; margin-right: 10px " class="btn btn-primary">Добавить машину</a>
                      <a href='/market/{{market.id}}/edit'  class="btn btn-primary">Редактировать</a>
                  </li>
                </ul>
            </div>

        {% else%}

            <i>Ошибка в введенных данных</i><br />

        {% endif %} 
{% endblock %}
