{% extends "base.html" %}

{% block content %}
  <div class="card" style="width: 18rem; margin-left: 10px;">
  <div class="card-header">
    {{person.name}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Баланс: {{person.balance}}</li>
    <li class="list-group-item">
      Машины: <br>
      {% for car in person.cars %}
         <a href="/car/{{ car.id }}">{{ car.name }}</a><br>
      {% endfor %}
    </li>
    <li class="list-group-item"><a href='/person/{{person.id}}/addcar'  class="btn btn-primary">Добавить машину</a></li>
  </ul>
</div>
{% endblock %}

